<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <h5 class="my-0 mr-md-auto font-weight-normal">Sakya Health Admin Portal</h5>
  <nav class="my-2 my-md-0 mr-md-3">
    <a class="btn btn-outline-primary" routerLinkActive="active" routerLink="/disease-list">View list</a>
  </nav>
  <a class="btn btn-outline-primary" routerLinkActive="active" routerLink="/disease-create">Add Disease</a>
</div>
<div class="row justify-content-center">
  <div class="col-md-4 register-employee">
    <!-- form card register -->
    <div class="card card-outline-secondary">
      <div class="card-header">
        <h3 class="mb-0">Edit Disease</h3>
      </div>
      <div class="card-body">
        <form [formGroup]="editForm" (ngSubmit)="onSubmit()">

          <div class="form-group">
            <label for="inputName">Name</label>
            <input class="form-control" type="text" formControlName="name">
            <div class="invalid-feedback" *ngIf="submitted && myForm.name.errors?.required">
              Name is required.
            </div>
          </div>
          <div class="form-group">
            <label for="inputEmail3">Symptoms</label>
            <input class="form-control" type="text" formControlName="symptoms">
            <!-- error -->
            <div class="invalid-feedback" *ngIf="submitted && myForm.symptoms.errors?.required">
              Enter symptoms.
            </div>
          </div>
          <div class="form-group">
            <label for="inputEmail3">Causes</label>
            <input class="form-control" type="text" formControlName="causes">
            <!-- error -->
            <div class="invalid-feedback" *ngIf="submitted && myForm.causes.errors?.required">
              Enter causes
            </div>
          </div>
          <div class="form-group">
            <label for="inputVerify3">Preventions</label>
            <input class="form-control" type="text" formControlName="preventions">
            <!-- error -->
            <div class="invalid-feedback" *ngIf="submitted && myForm.preventions.errors?.required">
              Enter Preventions.
            </div>
          </div>
          <div class="form-group">
            <button class="btn btn-success btn-lg btn-block" type="submit">Update</button>
          </div>
        </form>
      </div>
    </div><!-- form  -->
  </div>
</div>

